.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.choice-button {
  background-color: white;
  padding: 410px 50px;
  border-radius: 5px; 
  border-color: white;
  border: none;
  cursor: 'pointer';
  /* /* transition: background-color 0.2s ease-in-out; */
}

.choice-button:hover {
  background-color: black; /* This is a medium gray, change if you want */
  border-color: black;
}

.button-text {
  color: rgb(221, 224, 217);
  font-weight: 600;
  transition: color 2s ease-in-out;
}

.choice-button:hover .button-text {
  color: white; /* A light gray for the text, change if you want */
}
